[submodule "packages/nomad-material-processing"]
	path = packages/nomad-material-processing
	url = https://github.com/FAIRmat-NFDI/nomad-material-processing
[submodule "packages/nomad-analysis"]
	path = packages/nomad-analysis
	url = https://github.com/FAIRmat-NFDI/nomad-analysis
[submodule "packages/pdi-nomad-plugin"]
	path = packages/pdi-nomad-plugin
	url = https://github.com/PDI-Berlin/pdi-nomad-plugin
[submodule "packages/nomad-measurements"]
	path = packages/nomad-measurements
	url = https://github.com/FAIRmat-NFDI/nomad-measurements
[submodule "packages/nomad-ikz-plugin"]
	path = packages/nomad-ikz-plugin
	url = https://github.com/IKZ-Berlin/nomad-ikz-plugin
[submodule "packages/laytec_epitt_nomad_plugin"]
	path = packages/laytec_epitt_nomad_plugin
	url = https://github.com/IKZ-Berlin/laytec_epitt_nomad_plugin
[submodule "packages/lakeshore-nomad-plugin"]
	path = packages/lakeshore-nomad-plugin
	url = https://github.com/IKZ-Berlin/lakeshore-nomad-plugin
[submodule "packages/EPIC_scraper"]
	path = packages/EPIC_scraper
	url = https://github.com/PDI-Berlin/EPIC_scraper
[submodule "packages/nomad-aa-plugin"]
	path = packages/nomad-aa-plugin
	url = https://github.com/aalbino2/nomad-aa-plugin.git
[submodule "packages/nomad-FAIR"]
	path = packages/nomad-FAIR
	url = git@gitlab.mpcdf.mpg.de:nomad-lab/nomad-FAIR.git
